<%- include('header'); -%>
<div class="about-box">
  <h2>This is the about page</h2>
  <p>
    It is a custom list maker app.
    Full stack is used here.
    &copy No copyright issue
  </p>
</div>
<%- include('footer'); -%>
